@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a talk about Docker and CI/CD.</p>
<hr/>
<p>Hi @ViewData["Name"]</p>
<p>We are on host: @ViewData["HostName"]</p>
<br/>
<h3>This is the shiny version 2.0!</h3>
