@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "ADNUG Presentation";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a talk about Docker and CI/CD.</p>
