@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a talk about Docker and CI/CD.</p>
<hr/>
<p>We are on host: @ViewData["HostName"]</p>
